<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>add Property</h1>
<form method="post">
<label>place</label><br>
<input type="text" name="place"   placeholder="place"><br>
<label>area</label><br>
<input type="text" name="area"   placeholder="enter area"><br>
<label>bedrooms</label><br>
<input type="text" name="bedrooms"   placeholder="enter bedrooms"><br>
<label>bathrooms</label><br>
<input type="text" name="bathrooms"   placeholder="enter bathrooms"><br>
<label>nearbyAmenities</label><br>
<input type="text" name="nearbyAmenities"   placeholder="enter nearbyAmenities"><br>
<label>sellerId</label><br>
<input type="text" name="sellerId"   placeholder="enter sellerId"><br>

<input type="submit" value="submit">
<a href="/edit">edit</a>
<a href="/delete">delete</a>
</form>
</body>
</html>